
.post {
  width: 500px;
  height: auto;
  padding: 3rem;
  border-radius: 8px;
  border: 1px solid red;
  margin: 2rem auto 0;

  img {
    width: 100%;
  }
}

.buttons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  button {

    &:first-child {
      margin-right: .5rem;
    }
    padding: 8px 1rem;
    background: #db8217;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
  }

}
